<div class="block">
  <div class="home-heading block">
    <div class="center-box block">
      <span class="heading1 ft600 block">Gutenberg Project</span>
      <p class="block ft600">
        A social cataloging website that allows you to freely search its
        database of books, annotations, and reviews.
      </p>
    </div>
  </div>

  <div class="home-content">
      <div class="center-box block">
          <div class="genre-container">
            <a class="genre-card" routerLink="/fiction">
                <img src="../../assets/Fiction.svg" alt="Fiction" />
                <span class="ft600">{{ 'fiction' | uppercase }}</span>
                <span class="next">
                    <img src="../../assets/Next.svg" alt="Next" class="next">
                </span>
            </a>
            <a class="genre-card" routerLink="/philosophy">
                <img src="../../assets/Philosophy.svg" alt="Philosophy" />
                <span class="ft600">{{ 'Philosophy' | uppercase }}</span>
                <span class="next">
                    <img src="../../assets/Next.svg" alt="Next" class="next">
                </span>
            </a>
            <a class="genre-card" routerLink="/drama">
                <img src="../../assets/Drama.svg" alt="Drama" />
                <span class="ft600">{{ 'Drama' | uppercase }}</span>
                <span class="next">
                    <img src="../../assets/Next.svg" alt="Next" class="next">
                </span>
            </a>
            <a class="genre-card" routerLink="/history">
                <img src="../../assets/History.svg" alt="History" />
                <span class="ft600">{{ 'History' | uppercase }}</span>
                <span class="next">
                    <img src="../../assets/Next.svg" alt="Next" class="next">
                </span>
            </a>
            <a class="genre-card" routerLink="/humor">
                <img src="../../assets/Humour.svg" alt="Humour" />
                <span class="ft600">{{ 'Humour' | uppercase }}</span>
                <span class="next">
                    <img src="../../assets/Next.svg" alt="Next" class="next">
                </span>
            </a>
            <a class="genre-card" routerLink="/adventure">
                <img src="../../assets/Adventure.svg" alt="Adventure" />
                <span class="ft600">{{ 'Adventure' | uppercase }}</span>
                <span class="next">
                    <img src="../../assets/Next.svg" alt="Next" class="next">
                </span>
            </a>
            <a class="genre-card" routerLink="/politics">
                <img src="../../assets/Politics.svg" alt="Politics" />
                <span class="ft600">{{ 'Politics' | uppercase }}</span>
                <span class="next">
                    <img src="../../assets/Next.svg" alt="Next" class="next">
                </span>
            </a>
          </div>
      </div>
  </div>
</div>
